@media screen and (min-width: 768px) {
    .btn-mobile-toggle {
        display: none;
    }
}

body {
    text-align: center;
    background-color: #681C33;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: gold;
    font-size: 30pt;
}

.text {
    color: #6C6061;
    background-color: #E4BB97;
    font-size: 20pt;
    padding: 5px;
    border: goldenrod 5px;
    margin: 50px;
}

.banner {
    padding: 8em 0 9em 0;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.icon {
    border-radius: 4px;
    padding: 100px;
    width: 150px;
    height: 150px;
    position: relative;      
}

  ul {
    font: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    background-color: goldenrod;
    position: fixed;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
  }